.product img {


    height: 286px;
    width: 286px;
    left: 7px;
    top: 8px;
    margin: 7px;


}

.product {

    width: 300px;
    height: 510px;
    border: 1px solid #95A0A7;
    box-shadow: 2px 3px 3px 2px  gray;
    border-radius: 8px;
    padding: 8px;
    position: relative;




}

.product-info {

    margin: 0 14px;


}

.product-info p {

    margin-bottom: 0;
    margin-top: 5px;


}

.product-name {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;
    margin-top: 7px;



}

.btn-cart {

    width: 100%;
    background: #FFE0B3;
    border: none;
    border-radius: 0px 0px 8px 8px;
    position:absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;


}

.btn-cart .btn-text{

margin-right: 5px;

}

.btn-cart:hover {

    background-color: orange;

}