.header-nav {

    height: 80px;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
    margin-bottom: 10px;
    position: sticky;
    top:0;
    z-index: 2;
 


}

.header-nav a {

    color: #FFFFFF;
    text-decoration: none;
    margin-right: 36px;
    line-height: 20px;
    letter-spacing: 0.005em;
    font-weight: 400;
    font-size: 17px;





}

.header-nav a:hover {

    color: orangered;


}